
tbody td {
    font-size: 40%;
}

.summary-table {
  font-size: 48px;
  margin: 24px;
} 

tr:hover {background-color: lightgrey;}

IMG.displayed {
    display: block;
    
}

.home-page {
   color: black;
   font-size: 20px;
   text-align: center;
}

.date-title{
   color: black;
   font-size: 18px;
}

.page-title{
   color: black;
   font-size: 30px;
}






.page-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

span {
	color: blue;
	font-weight: bold;
	font-size: 20px;
}

.line-description {
	font-size: 20px;
	font-style: italic;
}

.inline-description {
	color: black;
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
}


.fix-rate {
	color: blue;
}

