.page-title{
   color: black;
   text-align: center;
}

.page-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

tbody td {
    font-size: 50%;
}

.summary-table {
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
} 

tr:hover {background-color: lightgrey;}

span {
	color: blue;
	font-weight: bold;
	font-size: 20px;
}

.line-description {
	font-size: 20px;
	font-style: italic;
}

.reduced-risk {
	color: blue;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}