
span {
	color: blue;
	font-weight: bold;
	font-size: 20px;
}

.inline-span {
	color: black;
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
}
 
table {
  font-size: 20px;
  margin: 24px;
}  

.home-page-menu {
	text-align: center;
}

.custom-scrollbar {
	position: relative;
	height: 500px;
	overflow: auto;
}

.table-wrapper-scroll-y {
	display: block;
} 



