<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
   <head>
      <title>Success Metrics Report</title>
      <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
      <script type = "text/javascript">google.charts.load('current', {packages: ['corechart']});</script>
      <script type = "text/javascript">google.charts.load('current', {packages: ['table']});</script>      
      <link href="/css/main.css" rel="stylesheet">
   	  <img class="displayed" th:src="@{images/sonatype.png}"/>    
   
   </head>
   
   <body>
   		
      <h2 class="page-title" th:text="'Success Metrics Report'"></h2>
           <p class="page-title" th:text="${#dates.createNow()}"></p>
       
      <script th:inline="javascript">
      	function applicationsOnboarded() {
          	var points = /*[[${applicationsOnboardedData}]]*/'noValue';
          	
    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Applications Onboarded - Cumulative');

    	    points.forEach(entry => {
                var label = entry.label;
                var point = entry.pointA;
                data.addRow([ `${label}`, parseInt(`${point}`) ]);
            }); 
    	       
    	    var options = {'title':'Applications Onboarded (Scanned)', 'width':750, 'height':400};
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('applicationsOnboardedChart'));   
    	    chart.draw(data, options);
    	 }

    	google.charts.setOnLoadCallback(applicationsOnboarded);
      </script>
      <div id="applicationsOnboardedChart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      
      <script th:inline="javascript">
      	function applicationScans() {
          	var points = /*[[${applicationScansData}]]*/'noValue';
          	
    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Scanned Applications');
    	    
    	    points.forEach(entry => {
                var label = entry.label;
                var point = entry.pointA;
                data.addRow([ `${label}`, parseInt(`${point}`) ]);
            }); 
    	       
    	    var options = {'title':'Scanned Applications', 'width':750, 'height':400};
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('applicationScansChart'));
    	    chart.draw(data, options);
    	 }

    	google.charts.setOnLoadCallback(applicationScans);
      </script>
      <div id="applicationScansChart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      <script th:inline="javascript">
      	function applicationsScanned() {
    	  
          	var points = /*[[${numberOfScansData}]]*/'noValue';
          	var mp = [];
          	
    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Number of Scans');
    	    
    	    points.forEach(entry => {
                var label = entry.label;
                var point = entry.pointA;
                data.addRow([ `${label}`, parseInt(`${point}`) ]);
            }); 
    	       
    	    var options = {'title':'Number of Scans', 'width':750, 'height':400};
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('applicationsScannedChart'));
    	    chart.draw(data, options);
    	 }

    	google.charts.setOnLoadCallback(applicationsScanned);
      </script>
      <div id="applicationsScannedChart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      
      <script th:inline="javascript">
      	function mttr() {
          	var points = /*[[${mttrData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Critical');
    	    data.addColumn('number', 'Severe');
    	    data.addColumn('number', 'Moderate');
    	    
    	    points.forEach(entry => {
                var label = entry.label;
                var pointA = entry.pointA;
                var pointB = entry.pointB;
                var pointC = entry.pointC;
                data.addRow([ `${label}`, parseFloat(`${pointA}`), parseFloat(`${pointB}`), parseFloat(`${pointC}`) ]);
            }); 
    	    
    	    var options = {'title':'MTTR (Days)', 'width':750, 'height':400, colors: ['red', 'orange', '#F1DF22']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('mttrChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(mttr);

      </script>
      <div id="mttrChart" style = "width: 650px; height: 400px; margin: 0 auto"></div>
      
      
      <h3 class="page-title">Current Risk (By Organisation)</h3>
      <script th:inline="javascript">
      	function organisationsOpenViolations() {
          	var points = /*[[${organisationsOpenViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Organisation');
    	    data.addColumn('number', 'Critical Violations');
    	    data.addColumn('number', 'Severe Violations');
    	    data.addColumn('number', 'Moderate Violations');
    	    
    	    points.forEach(entry => {
    	    	var label = entry.label;
                var pointA = entry.pointA;
                var pointB = entry.pointB;
                var pointC = entry.pointC;
                data.addRow([ `${label}`, parseInt(`${pointA}`), parseInt(`${pointB}`), parseInt(`${pointC}`) ]);
            }); 
    	       
    	    var table = new google.visualization.Table(document.getElementById ('organisationsOpenViolationsChart'));
    	    table.draw(data, {showRowNumber: true, width: '100%'});
    	 }
      	
        google.charts.setOnLoadCallback(organisationsOpenViolations);

      </script>
      <div id="organisationsOpenViolationsChart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      
      <h3 class="page-title">Current Risk (By Application)</h3>
	  <script th:inline="javascript">
      	function mostCriticalApplications() {
          	var points = /*[[${mostCriticalApplicationsData}]]*/'noValue';

          	var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Application');
    	    data.addColumn('number', 'Critical Violations');
    	    data.addColumn('number', 'Severe Violations');
    	    data.addColumn('number', 'Moderate Violations');
    	    
    	    points.forEach(entry => {
    	    	var label = entry.label;
                var pointA = entry.pointA;
                var pointB = entry.pointB;
                var pointC = entry.pointC;
                data.addRow([ `${label}`, parseInt(`${pointA}`), parseInt(`${pointB}`), parseInt(`${pointC}`) ]);
            }); 
    	       
    	    var table = new google.visualization.Table(document.getElementById ('mostCriticalApplicationsChart'));
    	    table.draw(data, {showRowNumber: true, width: '100%'});
    	 }
      	
        google.charts.setOnLoadCallback(mostCriticalApplications);

      </script>
      <div id="mostCriticalApplicationsChart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
     
      <h3 class="page-title">Most Scanned Applications</h3>
      <script th:inline="javascript">
      	function mostScannedApplications() {
          	var points = /*[[${mostScannedApplicationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Application');
    	    data.addColumn('number', 'Number of Scans');
    	    
    	    points.forEach(entry => {
                var label = entry.label;
                var point = entry.pointA;
                data.addRow([ `${label}`, parseInt(`${point}`) ]);
            }); 
    	       
    	    var table = new google.visualization.Table(document.getElementById ('mostScannedApplicationsChart'));
    	    table.draw(data, {showRowNumber: true, width: '100%'});
    	 }
      	
        google.charts.setOnLoadCallback(mostScannedApplications);

      </script>
      <div id="mostScannedApplicationsChart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      
   </body>
</html>