<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
<div th:insert="header2 :: header2Frag"></div>
</head>

   
   <body>
   	
   	<div class="jumbotron">
	   	<h3>Applications Report</h3>
	   	<br>
	</div>
	   	
	   	<!-- <div th:if="${netAvailable}">
	 	  <div th:insert="applicationsFragment :: applicationsFrag"></div>
	      <br>
	      <div style="margin-left: 50px;">
	      	<div th:insert="violationsAndRemediationFragment :: violationsAndRemediationFrag"></div>
	      	<br><br>
	      </div>
	    </div> -->
	    
	    <div>
	 	  <div th:insert="applicationsOfflineFragment :: applicationsOfflineFrag"></div>
	      <br>
	      <div th:insert="violationsAndRemediationOfflineFragment :: violationsAndRemediationOfflineFrag"></div>
	      <br><br>
	    </div>
      
   </body>
</html>