<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <img class="displayed" th:src="@{images/sonatype.png}"/>    
</head>
<body>
      
  <h1>Data</h1>
  
  <div class="alert alert-danger" role="alert" th:if="${!status}">
      <strong>Error:</strong>
      <span th:text="${message}"></span>
  </div>

  <table class="table table-striped" th:if="${status}">
      <thead>
      <tr>
          <th scope="col">Organisation</th>
          <th scope="col">Application</th>
          <th scope="col">Period</th>
          <th scope="col">Evaluations</th>
          <th scope="col">Disc.Sec.Cri</th>
          <th scope="col">Fix.Sec.Cri</th>
          <th scope="col">Waiv.Sec.Cri</th>
          <th scope="col">Open.Sec.Cri</th>
          <th scope="col">Disc.Lic.Cri</th>
          <th scope="col">Fix.Lic.Cri</th>
          <th scope="col">Waiv.Lic.Cri</th>
          <th scope="col">Open.Lic.Cri</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="metric : ${metrics}">
          <td th:text="${metric.organizationName}"></td>
          <td th:text="${metric.applicationPublicId}"></td>
          <td th:text="${metric.timePeriodStart}"></td>
          <td th:text="${metric.evaluationCount}"></td>
          <td th:text="${metric.discoveredCountSecurityCritical}"></td>
          <td th:text="${metric.fixedCountSecurityCritical}"></td>
          <td th:text="${metric.waivedCountSecurityCritical}"></td>
          <td th:text="${metric.openCountAtTimePeriodEndSecurityCritical}"></td>
          <td th:text="${metric.discoveredCountLicenseCritical}"></td>
          <td th:text="${metric.fixedCountLicenseCritical}"></td>
          <td th:text="${metric.waivedCountLicenseCritical}"></td>
          <td th:text="${metric.openCountAtTimePeriodEndLicenseCritical}"></td>
      </tr>
      </tbody>
  </table>
         
</body>
</html>
