<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Success Metrics'"></title>
    <link href="/css/main.css" rel="stylesheet">
	<img class="displayed" th:src="@{images/sonatype.png}"/>    
</head>
<body class="home-page">

    <h2>Success Metrics</h2>
    <p class="date-title" th:text="${#dates.createNow()}"></p>
    
    <div>
    
    	<!-- 
    	<a th:href="@{metrics}">Metrics for React UI</a>
        <br><br>
        <a th:href="@{ui}">React UI Sample</a>
        <br><br>
        <a th:href="@{data}">Show Data</a>
        <br><br>
        <a th:href="@{/h2}">Database console (user:install)</a>
        <br><br> 
        -->
        
        <a th:href="@{unsignedReport}">Unsigned Report</a>
        <br><br>
        <a th:href="@{summary}">Summary Report</a>
        <br><br>
        <a th:href="@{applications}">Applications Report</a>
        <br><br>
        <a th:href="@{reportSecurityViolations}">Security Violations Report</a>
        <br><br>
        <a th:href="@{reportLicenseViolations}">License Violations Report</a>
        <br><br>
        <a th:href="@{policyviolations}">Policy Violations Report</a>
        
    </div>
    
</body>
</html> 

