<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:insert="header :: headerFrag"></div>
</head>

<body>

    <div class="jumbotron">
    
    	<div class="home-page-menu">
    	
    	<a th:href="@{unsigned}">Unsigned Report</a>
        <br><br>
        <a th:href="@{summary}">Summary Report</a>
        <br><br>
        <a th:href="@{securityViolations}">Security Violations Report</a>
        <br><br>
        <a th:href="@{licenseViolations}">License Violations Report</a>
        <br><br>
        <a th:href="@{applications}">Applications Report</a>
        <br><br>
  
      	<div th:if="${netAvailable}">
	        
	        <div th:if="${policyViolationsreport}">
	        <a th:href="@{policyViolationsAge}">Policy Violations Age Report</a>
	        <br><br>
	        </div>
	        
	        <div th:if="${applicationEvaluationsreport}">
	        <a th:href="@{applicationEvaluationsAge}">Application Evaluations Age Report</a>
	        </div>
        </div>
        
       </div>
    </div>
    
</body>
</html> 

