<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
   
<head>
<div th:insert="header :: headerFrag"></div>
</head>
   
   <body>
	   <div class="jumbotron">
	      <h3>License Violations Report</h3>
	   	      
	       <div style="background-color:white;" th:if="${netAvailable}">
		    	<div th:insert="licenseViolationsFragment :: licenseViolationsFrag"></div>
		    </div>
		    
		    <div style="background-color:white;" th:if="${!netAvailable}">
				<div th:insert="licenseViolationsOfflineFragment :: licenseViolationsOfflineFrag"></div>
		  	</div>
  	
  	
	   </div>
   </body>
 
</html>