
<html xmlns:th="http://www.thymeleaf.org">

<head>
<div th:insert="templates/header :: headerFrag"></div>

<style>
th,tr {
	
    font-size: 14px;
}

td {
	font-size: 12px
}

span {
    font-size: 12px;
    color: blue;
    font-weight: bold;
}
.stat {
	color: blue;
}
p {
    font-size: 10px;
}
</style>

</head>

<body class="pdfreport">

  <div>
    <h4>Nexus IQ Success Metrics Report</h4>
    <p th:text="${#dates.createNow()}"></p>
  </div>

  <table class="table table-hover" style="width:100%">
    <thead class="thead-dark">
        <!-- <tr>
            <th scope="col">Current Period (<span style="font-size:10px" th:text="${latestTimePeriod}"/>)</th>
            <th scope="col">Previous Period (<span style="font-size:10px" th:text="${ppPeriodStr}"/>)</th>
        </tr> -->
        <tr>             
                <th scope="col">Current Period <span style="color:black;font-size:12px" th:text="${currentPeriodDateRange}"/></th>
                <th scope="col">Previous Period <span style="color:black;font-size:12px" th:text="${previousPeriodDateRange}"/></th>
            </tr>
    </thead>
    <tbody>
        <tr>
            <td>Onboarded <span th:text="${applicationsOnboardedAvg[0]}"/> applications at an average of <span th:text="${applicationsOnboardedAvg[1]}"/> per <span th:text="${timePeriod}"/></td>
            <td>Onboarded <span th:text="${ppapplicationsOnboardedAvg[0]}"/> applications at an average of <span th:text="${ppapplicationsOnboardedAvg[1]}"/> per <span th:text="${timePeriod}"/></td>
            </tr>
            <tr>
            <td>Scanned applications at an average of <span th:text="${numberOfApplicationsScannedAvg[1]}"/> per <span th:text="${timePeriod}"/></td>
            <td>Scanned applications at an average of <span th:text="${ppnumberOfApplicationsScannedAvg[1]}"/> per <span th:text="${timePeriod}"/></td>
            </tr>
            <tr>
            <td>Performed a total of <span th:text="${numberOfScansAvg[0]}"/> scans at an average of <span th:text="${numberOfScansAvg[1]}"/> per <span th:text="${timePeriod}"/></td>
            <td>Performed a total of <span th:text="${ppnumberOfScansAvg[0]}"/> scans at an average of <span th:text="${ppnumberOfScansAvg[1]}"/> per <span th:text="${timePeriod}"/></td>
            </tr>
    </tbody>
</table>

<br/>

  <table style="width:100%">
    <thead>
      <tr>
        <th>Current Period</th>
        <th>Total</th>
        <th>Critical</th>
        <th>Severe</th>
        <th>Moderate</th>
    </tr>
    </thead>
    <tbody>
      <tr style="font-weight:bold">
          <td th:text="'Discovered Security Violations'"></td>
          <td th:text="${discoveredSecurityViolationsTotals.pointA}+${discoveredSecurityViolationsTotals.pointB}+${discoveredSecurityViolationsTotals.pointC}"></td>
          <td th:text="${discoveredSecurityViolationsTotals.pointA}"></td>
          <td th:text="${discoveredSecurityViolationsTotals.pointB}"></td>
          <td th:text="${discoveredSecurityViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td th:text="'Open Security Violations'"></td>
          <td th:text="${openSecurityViolationsTotals.pointA}+${openSecurityViolationsTotals.pointB}+${openSecurityViolationsTotals.pointC}"></td>
          <td th:text="${openSecurityViolationsTotals.pointA}"></td>
          <td th:text="${openSecurityViolationsTotals.pointB}"></td>
          <td th:text="${openSecurityViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td th:text="'Fixed Security Violations'"></td>
          <td th:text="${fixedSecurityViolationsTotals.pointA}+${fixedSecurityViolationsTotals.pointB}+${fixedSecurityViolationsTotals.pointC}"></td>
          <td th:text="${fixedSecurityViolationsTotals.pointA}"></td>
          <td th:text="${fixedSecurityViolationsTotals.pointB}"></td>
          <td th:text="${fixedSecurityViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td th:text="'Waived Security Violations'"></td>
          <td th:text="${waivedSecurityViolationsTotals.pointA}+${waivedSecurityViolationsTotals.pointB}+${waivedSecurityViolationsTotals.pointC}"></td>
          <td th:text="${waivedSecurityViolationsTotals.pointA}"></td>
          <td th:text="${waivedSecurityViolationsTotals.pointB}"></td>
          <td th:text="${waivedSecurityViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td></td><td></td><td></td><td></td><td></td>
      </tr>
       <tr>
          <td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr style="font-weight:bold">
          <td th:text="'Discovered License Violations'"></td>
          <td th:text="${discoveredLicenseViolationsTotals.pointA}+${discoveredLicenseViolationsTotals.pointB}+${discoveredLicenseViolationsTotals.pointC}"></td>
          <td th:text="${discoveredLicenseViolationsTotals.pointA}"></td>
          <td th:text="${discoveredLicenseViolationsTotals.pointB}"></td>
          <td th:text="${discoveredLicenseViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td th:text="'Open License Violations'"></td>
          <td th:text="${openLicenseViolationsTotals.pointA}+${openLicenseViolationsTotals.pointB}+${openLicenseViolationsTotals.pointC}"></td>
          <td th:text="${openLicenseViolationsTotals.pointA}"></td>
          <td th:text="${openLicenseViolationsTotals.pointB}"></td>
          <td th:text="${openLicenseViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td th:text="'Fixed License Violations'"></td>
          <td th:text="${fixedLicenseViolationsTotals.pointA}+${fixedLicenseViolationsTotals.pointB}+${fixedLicenseViolationsTotals.pointC}"></td>
          <td th:text="${fixedLicenseViolationsTotals.pointA}"></td>
          <td th:text="${fixedLicenseViolationsTotals.pointB}"></td>
          <td th:text="${fixedLicenseViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td th:text="'Waived License Violations'"></td>
          <td th:text="${waivedLicenseViolationsTotals.pointA}+${waivedLicenseViolationsTotals.pointB}+${waivedLicenseViolationsTotals.pointC}"></td>
          <td th:text="${waivedLicenseViolationsTotals.pointA}"></td>
          <td th:text="${waivedLicenseViolationsTotals.pointB}"></td>
          <td th:text="${waivedLicenseViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td></td><td></td><td></td><td></td><td></td>
      </tr>
       <tr>
          <td></td><td></td><td></td><td></td><td></td>
      </tr>
      
      <tr style="font-weight:bold">
            	<td th:text="'Totals'"></td>
                <td th:text="${discoveredSecurityViolationsTotals.pointA}+${discoveredSecurityViolationsTotals.pointB}+${discoveredSecurityViolationsTotals.pointC}+
                			 ${discoveredLicenseViolationsTotals.pointA}+${discoveredLicenseViolationsTotals.pointB}+${discoveredLicenseViolationsTotals.pointC}">
                </td>
                <td th:text="${discoveredSecurityViolationsTotals.pointA}+${discoveredLicenseViolationsTotals.pointA}"></td>
                <td th:text="${discoveredSecurityViolationsTotals.pointB}+${discoveredLicenseViolationsTotals.pointB}"></td>
                <td th:text="${discoveredSecurityViolationsTotals.pointC}+${discoveredLicenseViolationsTotals.pointC}"></td>
            </tr>
      
      </tbody>
    </table>

    <br/>
    
    <table style="width:100%">
    <thead>
      <tr>
        <th>Previous Period</th>
        <th>Total</th>
        <th>Critical</th>
        <th>Severe</th>
        <th>Moderate</th>
    </tr>
    </thead>
    <tbody>
      		<tr style="font-weight:bold">
             	<td th:text="'Discovered Security Violations'"></td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointA}+${ppdiscoveredSecurityViolationsTotals.pointB}+${ppdiscoveredSecurityViolationsTotals.pointC}"></td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointA}"></td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointB}"></td>
                <td class="pdfspan" th:text="${ppdiscoveredSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Open Security Violations'"></td>
                <td th:text="${ppopenSecurityViolationsTotals.pointA}+${ppopenSecurityViolationsTotals.pointB}+${ppopenSecurityViolationsTotals.pointC}"></td>
                <td th:text="${ppopenSecurityViolationsTotals.pointA}"></td>
                <td th:text="${ppopenSecurityViolationsTotals.pointB}"></td>
                <td th:text="${ppopenSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Fixed Security Violations'"></td>
                <td th:text="${ppfixedSecurityViolationsTotals.pointA}+${ppfixedSecurityViolationsTotals.pointB}+${ppfixedSecurityViolationsTotals.pointC}"></td>
                <td th:text="${ppfixedSecurityViolationsTotals.pointA}"></td>
                <td th:text="${ppfixedSecurityViolationsTotals.pointB}"></td>
                <td th:text="${ppfixedSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Waived Security Violations'"></td>
                <td th:text="${ppwaivedSecurityViolationsTotals.pointA}+${ppwaivedSecurityViolationsTotals.pointB}+${ppwaivedSecurityViolationsTotals.pointC}"></td>
                <td th:text="${ppwaivedSecurityViolationsTotals.pointA}"></td>
                <td th:text="${ppwaivedSecurityViolationsTotals.pointB}"></td>
                <td th:text="${ppwaivedSecurityViolationsTotals.pointC}"></td>
            </tr>
      <tr>
          <td></td><td></td><td></td><td></td><td></td>
      </tr>
       <tr>
          <td></td><td></td><td></td><td></td><td></td>
      </tr>
      		<tr style="font-weight:bold">
                <td th:text="'Discovered License Violations'"></td>
                <td th:text="${ppdiscoveredLicenseViolationsTotals.pointA}+${ppdiscoveredLicenseViolationsTotals.pointB}+${ppdiscoveredLicenseViolationsTotals.pointC}"></td>
                <td th:text="${ppdiscoveredLicenseViolationsTotals.pointA}"></td>
                <td th:text="${ppdiscoveredLicenseViolationsTotals.pointB}"></td>
                <td th:text="${ppdiscoveredLicenseViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Open License Violations'"></td>
                <td th:text="${ppopenLicenseViolationsTotals.pointA}+${ppopenLicenseViolationsTotals.pointB}+${ppopenLicenseViolationsTotals.pointC}"></td>
                <td th:text="${ppopenLicenseViolationsTotals.pointA}"></td>
                <td th:text="${ppopenLicenseViolationsTotals.pointB}"></td>
                <td th:text="${ppopenLicenseViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Fixed License Violations'"></td>
                <td th:text="${ppfixedLicenseViolationsTotals.pointA}+${ppfixedLicenseViolationsTotals.pointB}+${ppfixedLicenseViolationsTotals.pointC}"></td>
                <td th:text="${ppfixedLicenseViolationsTotals.pointA}"></td>
                <td th:text="${ppfixedLicenseViolationsTotals.pointB}"></td>
                <td th:text="${ppfixedLicenseViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Waived License Violations'"></td>
                <td th:text="${ppwaivedLicenseViolationsTotals.pointA}+${ppwaivedLicenseViolationsTotals.pointB}+${ppwaivedLicenseViolationsTotals.pointC}"></td>
                <td th:text="${ppwaivedLicenseViolationsTotals.pointA}"></td>
                <td th:text="${ppwaivedLicenseViolationsTotals.pointB}"></td>
                <td th:text="${ppwaivedLicenseViolationsTotals.pointC}"></td>
            </tr>
      <tr>
          <td></td><td></td><td></td><td></td><td></td>
      </tr>
       <tr>
          <td></td><td></td><td></td><td></td><td></td>
      </tr>
      
      <tr style="font-weight:bold" >
            	<td th:text="'Total'"></td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointA}+${ppdiscoveredSecurityViolationsTotals.pointB}+${ppdiscoveredSecurityViolationsTotals.pointC}+
                			 ${ppdiscoveredLicenseViolationsTotals.pointA}+${ppdiscoveredLicenseViolationsTotals.pointB}+${ppdiscoveredLicenseViolationsTotals.pointC}">
                </td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointA}+${ppdiscoveredLicenseViolationsTotals.pointA}"></td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointB}+${ppdiscoveredLicenseViolationsTotals.pointB}"></td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointC}+${ppdiscoveredLicenseViolationsTotals.pointC}"></td>
            </tr>
                
      </tbody>
    </table>
    
    <br/>

  	<table class="table table-hover" style="width:100%">
      <thead class="thead-dark">
          <tr>
              	<th scope="col">Current Period</th>
                <th scope="col">Previous Period</th>
          </tr>
      </thead>
      <tbody>
      	  <!-- <tr>
           <td> Your fix rate is <span th:text="${fixRate}"/>%</td>
           <td> Your fix rate is <span th:text="${ppfixRate}"/>%</td>
          </tr> -->
          <tr><td></td></tr>
          <tr><td></td></tr>
          
          	<tr>
          	<td> It took an average of <span th:text="${mttrAvg[0]}"/> days to fix critical violations</td>
            <td> It took an average of <span th:text="${ppmttrAvg[0]}"/> days to fix critical violations</td>
            </tr>
            <tr>
            <td> It took an average of <span th:text="${mttrAvg[1]}"/> days to fix severe violations</td>
            <td> It took an average of <span th:text="${ppmttrAvg[1]}"/> days to fix severe violations</td>
            </tr>
            <tr>
            <td> It took an average of <span th:text="${mttrAvg[2]}"/> days to fix moderate violations</td>
            <td> It took an average of <span th:text="${ppmttrAvg[2]}"/> days to fix moderate violations</td>
            </tr>
           
          <tr><td></td></tr>
          <tr><td></td></tr>
                    
            <!-- <tr>
            <td> On average, each application has <span th:text="${openCriticalViolationsAvg}"/> open critical violations</td>
            <td> On average, each application has <span th:text="${ppopenCriticalViolationsAvg}"/> open critical violations</td>
            </tr> -->
            <tr>
            <td> Most critical application has <span th:text="${mostCriticalApplicationCount}"/> critical violations</td>
            <td> Most critical application has <span th:text="${ppmostCriticalApplicationCount}"/> critical violations</td>
            </tr>
            <tr>
            <td> Least critical application has <span th:text="${leastCriticalApplicationCount}"/> critical violations</td>
            <td> Least critical application has <span th:text="${ppleastCriticalApplicationCount}"/> critical violations</td>
            </tr>

      </tbody>
  </table>

  <br/><br/><br/>
  <h3>Analysis</h3>

  <table class="table table-hover" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th scope="col" th:text="'Measure'"></th>
            <th scope="col" th:text="Before"></th>
            <th scope="col" th:text="After"></th>
            <th scope="col" th:text="Delta"></th>
            <th scope="col" th:text="'Change (%)'"></th>
            <th scope="col" th:text="xTimes"></th>

        </tr>
    </thead>
    <tbody>
        <tr style="font-weight:bold">
            <td th:text="'Total Onboarded Apps (# of apps)'"></td>
            <td th:text="${totalOnboardedBefore}"></td>
            <td th:text="${totalOnboardedAfter}"></td>
            <td th:text="${totalOnboardedAfter}-${totalOnboardedBefore}"></td>
            <td th:text="${totalOnboarded}"></td>
            <td th:text="${totalOnboardedIncrease}"></td>
        </tr>

        <tr style="font-weight:bold">
            <td th:text="'Onboarding Rate (apps/period)'"></td>
            <td th:text="${onboardingRateBefore}"></td>
            <td th:text="${onboardingRateAfter}"></td>
            <td th:text="${onboardingRateAfter}-${onboardingRateBefore}"></td>
            <td th:text="${onboardingRate}"></td>
            <td th:text="${onboardingRateIncrease}"></td>
        </tr>

        <tr style="font-weight:bold">
            <td th:text="'Scanning Coverage (% of apps scanned at least once/period)'"></td>
            <td th:text="${scanningCoverageBefore}"></td>
            <td th:text="${scanningCoverageAfter}"></td>
            <td th:text="${scanningCoverageAfter}-${scanningCoverageBefore}"></td>
            <td th:text="${scanningCoverage}"></td>
            <td th:text="${scanningCoverageIncrease}"></td>
        </tr>

        <tr style="font-weight:bold">
            <td th:text="'Scanning Rate (total scans per period)'"></td>
            <td th:text="${scanningRateBefore}"></td>
            <td th:text="${scanningRateAfter}"></td>
            <td th:text="${scanningRateAfter}-${scanningRateBefore}"></td>
            <td th:text="${scanningRate}"></td>
            <td th:text="${scanningRateIncrease}"></td>
        </tr>

        <tr style="font-weight:bold">
            <td th:text="'Average Scans per App (scanning rate/apps)'"></td>
            <td th:text="${avgScansBefore}"></td>
            <td th:text="${avgScansAfter}"></td>
            <td th:text="${avgScansAfter}-${avgScansBefore}"></td>
            <td th:text="${avgScans}"></td>
            <td th:text="${avgScansIncrease}"></td>
        </tr>

        <tr style="font-weight:bold">
            <td th:text="'Discovery Rate Criticals (# of discovered Critical violations/period & app)'"></td>
            <td th:text="${discoveryRateCriticalsBefore}"></td>
            <td th:text="${discoveryRateCriticalsAfter}"></td>
            <td th:text="${discoveryRateCriticalsAfter}-${discoveryRateCriticalsBefore}"></td>
            <td th:text="${discoveryRateCriticals}"></td>
            <td th:text="${discoveryRateCriticalsIncrease}"></td>
        </tr>

        <tr style="font-weight:bold">
            <td th:text="'Fixing Rate (# of fixed violations/period & app)'"></td>
            <td th:text="${fixingRateBefore}"></td>
            <td th:text="${fixingRateAfter}"></td>
            <td th:text="${fixingRateAfter}-${fixingRateBefore}"></td>
            <td th:text="${fixingRate}"></td>
            <td th:text="${fixingRateIncrease}"></td>
        </tr>

        <tr style="font-weight:bold">
            <td th:text="'Fixing Rate Criticals (# of fixed Critical violations/period & app)'"></td>
            <td th:text="${fixingRateCriticalsBefore}"></td>
            <td th:text="${fixingRateCriticalsAfter}"></td>
            <td th:text="${fixingRateCriticalsAfter}-${fixingRateCriticalsBefore}"></td>
            <td th:text="${fixingRateCriticals}"></td>
            <td th:text="${fixingRateCriticalsIncrease}"></td>
        </tr>

        <tr style="font-weight:bold">
            <td th:text="'Backlog Reduction Rate (# of (fixed + waived) / # of discovered)'"></td>
            <td th:text="${backlogReductionRateBefore}"></td>
            <td th:text="${backlogReductionRateAfter}"></td>
            <td th:text="${backlogReductionRateAfter}-${backlogReductionRateBefore}"></td>
            <td th:text="${backlogReductionRate}"></td>
            <td th:text="${backlogReductionRateIncrease}"></td>
        </tr>

        <tr style="font-weight:bold">
            <td th:text="'Backlog Reduction Rate Criticals (# of (fixed + waived) / # of discovered) for Criticals'"></td>
            <td th:text="${backlogReductionCriticalsRateBefore}"></td>
            <td th:text="${backlogReductionCriticalsRateAfter}"></td>
            <td th:text="${backlogReductionCriticalsRateAfter}-${backlogReductionCriticalsRateBefore}"></td>
            <td th:text="${backlogReductionCriticalsRate}"></td>
            <td th:text="${backlogReductionCriticalsRateIncrease}"></td>
        </tr>

        <tr style="font-weight:bold">
            <td th:text="'Risk Ratio (# of Critical violations / # of apps)'"></td>
            <td th:text="${riskRatioBefore}"></td>
            <td th:text="${riskRatioAfter}"></td>
            <td th:text="${riskRatioAfter}-${riskRatioBefore}"></td>
            <td th:text="${riskRatio}"></td>
            <td th:text="${riskRatioIncrease}"></td>
        </tr>

        <tr style="font-weight:bold">
            <td th:text="'MTTR Criticals (average # of days to fix Critical violations)'"></td>
            <td th:text="${mttrCriticalsBefore}"></td>
            <td th:text="${mttrCriticalsAfter}"></td>
            <td th:text="${mttrCriticalsAfter}-${mttrCriticalsBefore}"></td>
            <td th:text="${mttrCriticals}"></td>
            <td th:text="${mttrCriticalsIncrease}"></td>
        </tr>
        
    </tbody>
</table>

</body>
</html>
