<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
   <head>
      <title>Success Metrics Report</title>
      <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
      <script type = "text/javascript">google.charts.load('current', {packages: ['corechart']});</script>
      <script type = "text/javascript">google.charts.load('current', {packages: ['table']});</script>      
      <link href="/css/main.css" rel="stylesheet">
   	  <img class="displayed" th:src="@{images/sonatype.png}"/>    
   
   </head>
   
   <body>
   		
      <h2 class="page-title" th:text="'Success Metrics Report'"></h2>
          <p class="page-title" th:text="${#dates.createNow()}"></p>
      
      <h3 class="page-title">Policy Violations Age</h3>
      
      <div class="page-title" role="alert" th:if="${!status}">
	      <span th:text="${message}"></span>
  	  </div>
      
      
      
      <div th:if="${status}">
      
      <script th:inline="javascript">
      function policyViolationsAge() {
        	
    	var age90 = /*[[${policyViolationsAge90Number}]]*/'noValue';
    	var age60 = /*[[${policyViolationsAge60Number}]]*/'noValue';
    	var age30 = /*[[${policyViolationsAge30Number}]]*/'noValue';

        var data = google.visualization.arrayToDataTable([
          ['Age', 'Days'],
          ['>61 Days',     age90],
          ['31-60 Days',      age60],
          ['0-30 Days',  age30]
        ]);

        var options = {
          title: 'Age of Policy Violations'
        };

        var chart = new google.visualization.PieChart(document.getElementById('policyViolationsAgeChart'));

        chart.draw(data, options);
      }
      
      google.charts.setOnLoadCallback(policyViolationsAge);

      </script>
      <div id="policyViolationsAgeChart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      
      <h3 class="page-title">Policy Violations Over 60 Days</h3>
      <script th:inline="javascript">
      	function policyViolationsAge90() {
          	var points = /*[[${policyViolationsAge90Data}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Policy Name');
    	    data.addColumn('string', 'Application Name');
    	    data.addColumn('string', 'Component');
    	    /*data.addColumn('string', 'Open Time');*/

    	    points.forEach(entry => {
                var policyName = entry.policyName;
                var applicationName = entry.applicationName;
                var component = entry.component;
                /*var openTime = entry.openTime;*/

                data.addRow([ `${policyName}`, `${applicationName}`, `${component}`]);
            }); 
    	       
    	    var table = new google.visualization.Table(document.getElementById ('policyViolationsAge90Chart'));
    	    table.draw(data, {showRowNumber: true, width: '100%'});
    	 }
      	
        google.charts.setOnLoadCallback(policyViolationsAge90);

      </script>
      <div id="policyViolationsAge90Chart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      
      <h3 class="page-title">Policy Violations 31-60 Days</h3>
      <script th:inline="javascript">
      	function policyViolationsAge60() {
          	var points = /*[[${policyViolationsAge60Data}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Policy Name');
    	    data.addColumn('string', 'Application Name');
    	    data.addColumn('string', 'Component');
    	    /*data.addColumn('string', 'Open Time');*/

    	    points.forEach(entry => {
                var policyName = entry.policyName;
                var applicationName = entry.applicationName;
                var component = entry.component;
                var openTime = entry.openTime;

                data.addRow([ `${policyName}`, `${applicationName}`, `${component}`]);
            }); 
    	       
    	    var table = new google.visualization.Table(document.getElementById ('policyViolationsAge60Chart'));
    	    table.draw(data, {showRowNumber: true, width: '100%'});
    	 }
      	
        google.charts.setOnLoadCallback(policyViolationsAge60);

      </script>
      <div id="policyViolationsAge60Chart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      
      <h3 class="page-title">Policy Violations 0-30 Days</h3>
      <script th:inline="javascript">
      	function policyViolationsAge30() {
          	var points = /*[[${policyViolationsAge30Data}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Policy Name');
    	    data.addColumn('string', 'Application Name');
    	    data.addColumn('string', 'Component');
    	    /*data.addColumn('string', 'Open Time');*/

    	    points.forEach(entry => {
                var policyName = entry.policyName;
                var applicationName = entry.applicationName;
                var component = entry.component;
                /*var openTime = entry.openTime;*/

                data.addRow([ `${policyName}`, `${applicationName}`, `${component}`]);
            }); 
    	       
    	    var table = new google.visualization.Table(document.getElementById ('policyViolationsAge30Chart'));
    	    table.draw(data, {showRowNumber: true, width: '100%'});
    	 }
      	
        google.charts.setOnLoadCallback(policyViolationsAge30);

      </script>
      <div id="policyViolationsAge30Chart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      </div>
      
   </body>
</html>