<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
   <head>
      <title>Success Metrics Report</title>
      <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
      <script type = "text/javascript">google.charts.load('current', {packages: ['corechart']});</script>
      <script type = "text/javascript">google.charts.load('current', {packages: ['table']});</script>      
      <link href="/css/main.css" rel="stylesheet">
   </head>
   
   <body>
   		
      <h2 class="page-title" th:text="'Success Metrics Report'"></h2>
       
      <script th:inline="javascript">
      	function applicationsOnboarded() {
          	var points = /*[[${applicationsOnboardedData}]]*/'noValue';
          	
    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Number of Scanned Applications - Cumulative');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var count = entry.count;
                data.addRow([ `${period}`, parseInt(`${count}`) ]);
            }); 
    	       
    	    var options = {'title':'Applications Onboarded (Scanned)', 'width':750, 'height':400};
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('applicationsOnboardedChart'));   
    	    chart.draw(data, options);
    	 }

    	google.charts.setOnLoadCallback(applicationsOnboarded);
      </script>
      <div id="applicationsOnboardedChart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      
      
      <script th:inline="javascript">
      	function applicationsScanned() {
    	  
          	var points = /*[[${numberOfScansData}]]*/'noValue';
          	var mp = [];
          	
    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Number of Scans');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var count = entry.count;
                data.addRow([ `${period}`, parseInt(`${count}`) ]);
            }); 
    	       
    	    var options = {'title':'Scans', 'width':750, 'height':400};
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('applicationsScannedChart'));
    	    chart.draw(data, options);
    	 }

    	google.charts.setOnLoadCallback(applicationsScanned);
      </script>
      <div id="applicationsScannedChart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      
      
      <script th:inline="javascript">
      	function applicationScans() {
          	var points = /*[[${applicationScansData}]]*/'noValue';
          	
    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Number of Applications Scanned');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var count = entry.count;
                data.addRow([ `${period}`, parseInt(`${count}`) ]);
            }); 
    	       
    	    var options = {'title':'Applications Scanned', 'width':750, 'height':400};
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('applicationScansChart'));
    	    chart.draw(data, options);
    	 }

    	google.charts.setOnLoadCallback(applicationScans);
      </script>
      <div id="applicationScansChart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      
      <!-- 
      <script th:inline="javascript">
      	function criticalSecurityViolations() {
          	var points = /*[[${criticalSecurityViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Discovered');
    	    data.addColumn('number', 'Fixed');
    	    data.addColumn('number', 'Waived');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var countA = entry.countA;
                var countB = entry.countB;
                var countC = entry.countC;
                data.addRow([ `${period}`, parseInt(`${countA}`), parseInt(`${countB}`), parseInt(`${countC}`) ]);
            }); 
    	    
    	    var options = {'title':'Critical Security Violations', 'width':750, 'height':400, colors: ['red', 'green', 'orange']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('criticalSecurityViolationsChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(criticalSecurityViolations);

      </script>
      <div id="criticalSecurityViolationsChart" style = "width: 650px; height: 400px; margin: 0 auto"></div>
      
      
      <script th:inline="javascript">
      	function severeSecurityViolations() {
          	var points = /*[[${severeSecurityViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Discovered');
    	    data.addColumn('number', 'Fixed');
    	    data.addColumn('number', 'Waived');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var countA = entry.countA;
                var countB = entry.countB;
                var countC = entry.countC;
                data.addRow([ `${period}`, parseInt(`${countA}`), parseInt(`${countB}`), parseInt(`${countC}`) ]);
            }); 
    	    
    	    var options = {'title':'Severe Security Violations', 'width':750, 'height':400, colors: ['red', 'green', 'orange']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('severeSecurityViolationsChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(severeSecurityViolations);

      </script>
      <div id="severeSecurityViolationsChart" style = "width: 650px; height: 400px; margin: 0 auto"></div>
      
      
      
       <script th:inline="javascript">
      	function criticalLicenseViolations() {
          	var points = /*[[${criticalLicenseViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Discovered');
    	    data.addColumn('number', 'Fixed');
    	    data.addColumn('number', 'Waived');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var countA = entry.countA;
                var countB = entry.countB;
                var countC = entry.countC;
                data.addRow([ `${period}`, parseInt(`${countA}`), parseInt(`${countB}`), parseInt(`${countC}`) ]);
            }); 
    	    
    	    var options = {'title':'Critical License Violations', 'width':750, 'height':400, colors: ['red', 'green', 'orange']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('criticalLicenseViolationsChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(criticalLicenseViolations);

      </script>
      <div id="criticalLicenseViolationsChart" style = "width: 650px; height: 400px; margin: 0 auto"></div>
      
      
      <script th:inline="javascript">
      	function severeLicenseViolations() {
          	var points = /*[[${severeLicenseViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Discovered');
    	    data.addColumn('number', 'Fixed');
    	    data.addColumn('number', 'Waived');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var countA = entry.countA;
                var countB = entry.countB;
                var countC = entry.countC;
                data.addRow([ `${period}`, parseInt(`${countA}`), parseInt(`${countB}`), parseInt(`${countC}`) ]);
            }); 
    	    
    	    var options = {'title':'Severe License Violations', 'width':750, 'height':400, colors: ['red', 'green', 'orange']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('severeLicenseViolationsChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(severeLicenseViolations);

      </script>
      <div id="severeLicenseViolationsChart" style = "width: 650px; height: 400px; margin: 0 auto"></div>
      
      
      
       <script th:inline="javascript">
      	function openSecurityViolations() {
          	var points = /*[[${openSecurityViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Critical');
    	    data.addColumn('number', 'Severe');
    	    data.addColumn('number', 'Moderate');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var countA = entry.countA;
                var countB = entry.countB;
                var countC = entry.countC;
                data.addRow([ `${period}`, parseInt(`${countA}`), parseInt(`${countB}`), parseInt(`${countC}`) ]);
            }); 
    	    
    	    var options = {'title':'Open Security Violations', 'width':750, 'height':400, colors: ['red', 'orange', '#F1DF22']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('openSecurityViolationsChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(openSecurityViolations);

      </script>
      <div id="openSecurityViolationsChart" style = "width: 650px; height: 400px; margin: 0 auto"></div>
      
      
      
      <script th:inline="javascript">
      	function openLicenseViolations() {
          	var points = /*[[${openLicenseViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Critical');
    	    data.addColumn('number', 'Severe');
    	    data.addColumn('number', 'Moderate');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var countA = entry.countA;
                var countB = entry.countB;
                var countC = entry.countC;
                data.addRow([ `${period}`, parseInt(`${countA}`), parseInt(`${countB}`), parseInt(`${countC}`) ]);
            }); 
    	    
    	    var options = {'title':'Open License Violations', 'width':750, 'height':400, colors: ['red', 'orange', '#F1DF22']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('openLicenseViolationsChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(openLicenseViolations);

      </script>
      <div id="openLicenseViolationsChart" style = "width: 650px; height: 400px; margin: 0 auto"></div>
      
       -->
      
      <script th:inline="javascript">
      	function mttr() {
          	var points = /*[[${mttrData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Critical');
    	    data.addColumn('number', 'Severe');
    	    data.addColumn('number', 'Moderate');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var countA = entry.countA;
                var countB = entry.countB;
                var countC = entry.countC;
                data.addRow([ `${period}`, parseInt(`${countA}`), parseInt(`${countB}`), parseInt(`${countC}`) ]);
            }); 
    	    
    	    var options = {'title':'MTTR (Days)', 'width':750, 'height':400, colors: ['red', 'orange', '#F1DF22']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('mttrChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(mttr);

      </script>
      <div id="mttrChart" style = "width: 650px; height: 400px; margin: 0 auto"></div>
      
      
      <h3>Current Risk (By Organisation)</h3>
      <script th:inline="javascript">
      	function organisationsOpenViolations() {
          	var points = /*[[${organisationsOpenViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Organisation');
    	    data.addColumn('number', 'Critical Violations');
    	    data.addColumn('number', 'Severe Violations');
    	    data.addColumn('number', 'Moderate Violations');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var countA = entry.countA;
                var countB = entry.countB;
                var countC = entry.countC;
                data.addRow([ `${period}`, parseInt(`${countA}`), parseInt(`${countB}`), parseInt(`${countC}`) ]);
            }); 
    	       
    	    var table = new google.visualization.Table(document.getElementById ('organisationsOpenViolationsChart'));
    	    table.draw(data, {showRowNumber: true, width: '100%'});
    	 }
      	
        google.charts.setOnLoadCallback(organisationsOpenViolations);

      </script>
      <div id="organisationsOpenViolationsChart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      
      <h3>Current Risk (By Application)</h3>
	  <script th:inline="javascript">
      	function mostCriticalApplications() {
          	var points = /*[[${mostCriticalApplicationsData}]]*/'noValue';

          	var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Application');
    	    data.addColumn('number', 'Critical Violations');
    	    data.addColumn('number', 'Severe Violations');
    	    data.addColumn('number', 'Moderate Violations');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var countA = entry.countA;
                var countB = entry.countB;
                var countC = entry.countC;
                data.addRow([ `${period}`, parseInt(`${countA}`), parseInt(`${countB}`), parseInt(`${countC}`) ]);
            }); 
    	       
    	    var table = new google.visualization.Table(document.getElementById ('mostCriticalApplicationsChart'));
    	    table.draw(data, {showRowNumber: true, width: '100%'});
    	 }
      	
        google.charts.setOnLoadCallback(mostCriticalApplications);

      </script>
      <div id="mostCriticalApplicationsChart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
     
      <h3>Most Scanned Applications</h3>
      <script th:inline="javascript">
      	function mostScannedApplications() {
          	var points = /*[[${mostScannedApplicationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Application');
    	    data.addColumn('number', 'Number of Scans');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var count = entry.count;
                data.addRow([ `${period}`, parseInt(`${count}`) ]);
            }); 
    	       
    	    var table = new google.visualization.Table(document.getElementById ('mostScannedApplicationsChart'));
    	    table.draw(data, {showRowNumber: true, width: '100%'});
    	 }
      	
        google.charts.setOnLoadCallback(mostScannedApplications);

      </script>
      <div id="mostScannedApplicationsChart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      
   </body>
</html>