<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:insert="header :: headerFrag"></div>

<!-- <style>
    td,th {
      text-align: left;
      vertical-align: middle;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    tr:hover {
        background: lightgrey;
    }
</style>   -->

</head>

<body>
	<div class="jumbotron">
	<h3>Summary Report</h3>
    </div>

    <!-- <script th:inline="javascript">
        var discoveredSecurityViolationsTotals = /*[[${discoveredSecurityViolationsTotals}]]*/'noValue';
        var openSecurityViolationsTotals = /*[[${openSecurityViolationsTotals}]]*/'noValue';
        var fixedSecurityViolationsTotals = /*[[${fixedSecurityViolationsTotals}]]*/'noValue';
        var waivedSecurityViolationsTotals = /*[[${waivedSecurityViolationsTotals}]]*/'noValue';
    </script> -->

    <div>
    <div class="container">
    <div class="row">
    <div class="col-xl mx-auto w-auto bg-white rounded">
    <div class="table-responsive table-wrapper-scroll-y">
    
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Onboarded <span th:text="${applicationsOnboardedAvg[0]}"/> applications at an average of <span th:text="${applicationsOnboardedAvg[1]}"/> per week</td></tr>
            <tr><td>Scanned applications at an average of <span th:text="${numberOfApplicationsScannedAvg[1]}"/> per week</td></tr>
            <tr><td>Performed a total of <span th:text="${numberOfScansAvg[0]}"/> scans at an average of <span th:text="${numberOfScansAvg[1]}"/> per week</td></tr>
        </tbody>
    </table>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col" th:text="Total"></th>
                <th scope="col" th:text="Critical"></th>
                <th scope="col" th:text="Severe"></th>
                <th scope="col" th:text="Moderate"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="font-weight:bold" th:text="'Discovered Security Violations'"></td>
                <td th:text="${discoveredSecurityViolationsTotals.pointA}+${discoveredSecurityViolationsTotals.pointB}+${discoveredSecurityViolationsTotals.pointC}"></td>
                <td th:text="${discoveredSecurityViolationsTotals.pointA}"></td>
                <td th:text="${discoveredSecurityViolationsTotals.pointB}"></td>
                <td th:text="${discoveredSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td style="font-weight:bold" th:text="'Open Security Violations'"></td>
                <td th:text="${openSecurityViolationsTotals.pointA}+${openSecurityViolationsTotals.pointB}+${openSecurityViolationsTotals.pointC}"></td>
                <td th:text="${openSecurityViolationsTotals.pointA}"></td>
                <td th:text="${openSecurityViolationsTotals.pointB}"></td>
                <td th:text="${openSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td style="font-weight:bold" th:text="'Fixed Security Violations'"></td>
                <td th:text="${fixedSecurityViolationsTotals.pointA}+${fixedSecurityViolationsTotals.pointB}+${fixedSecurityViolationsTotals.pointC}"></td>
                <td th:text="${fixedSecurityViolationsTotals.pointA}"></td>
                <td th:text="${fixedSecurityViolationsTotals.pointB}"></td>
                <td th:text="${fixedSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td style="font-weight:bold" th:text="'Waived Security Violations'"></td>
                <td th:text="${waivedSecurityViolationsTotals.pointA}+${waivedSecurityViolationsTotals.pointB}+${waivedSecurityViolationsTotals.pointC}"></td>
                <td th:text="${waivedSecurityViolationsTotals.pointA}"></td>
                <td th:text="${waivedSecurityViolationsTotals.pointB}"></td>
                <td th:text="${waivedSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td>
                <td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td>
            </tr>
            <tr>
                <td style="font-weight:bold" th:text="'Discovered License Violations'"></td>
                <td th:text="${discoveredLicenseViolationsTotals.pointA}+${discoveredLicenseViolationsTotals.pointB}+${discoveredLicenseViolationsTotals.pointC}"></td>
                <td th:text="${discoveredLicenseViolationsTotals.pointA}"></td>
                <td th:text="${discoveredLicenseViolationsTotals.pointB}"></td>
                <td th:text="${discoveredLicenseViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td style="font-weight:bold" th:text="'Open License Violations'"></td>
                <td th:text="${openLicenseViolationsTotals.pointA}+${openLicenseViolationsTotals.pointB}+${openLicenseViolationsTotals.pointC}"></td>
                <td th:text="${openLicenseViolationsTotals.pointA}"></td>
                <td th:text="${openLicenseViolationsTotals.pointB}"></td>
                <td th:text="${openLicenseViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td style="font-weight:bold" th:text="'Fixed License Violations'"></td>
                <td th:text="${fixedLicenseViolationsTotals.pointA}+${fixedLicenseViolationsTotals.pointB}+${fixedLicenseViolationsTotals.pointC}"></td>
                <td th:text="${fixedLicenseViolationsTotals.pointA}"></td>
                <td th:text="${fixedLicenseViolationsTotals.pointB}"></td>
                <td th:text="${fixedLicenseViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td style="font-weight:bold" th:text="'Waived License Violations'"></td>
                <td th:text="${waivedLicenseViolationsTotals.pointA}+${waivedLicenseViolationsTotals.pointB}+${waivedLicenseViolationsTotals.pointC}"></td>
                <td th:text="${waivedLicenseViolationsTotals.pointA}"></td>
                <td th:text="${waivedLicenseViolationsTotals.pointB}"></td>
                <td th:text="${waivedLicenseViolationsTotals.pointC}"></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr><td> Your fix rate is <span th:text="${fixRate}"/>%</td></tr>
            <tr><td> It took an average of <span th:text="${mttrAvg[0]}"/> days to fix critical violations</td></tr>
            <tr><td> It took an average of <span th:text="${mttrAvg[1]}"/> days to fix severe violations</td></tr>
            <tr><td> It took an average of <span th:text="${mttrAvg[2]}"/> days to fix moderate violations</td></tr>
            <tr><td style="background-color: aliceblue;"></td></tr>
            <tr><td> On average, each application has <span th:text="${openCriticalViolationsAvg}"/> open critical violations</td></tr>
            <tr><td> Most critical application has <span th:text="${mostCriticalApplicationCount}"/> critical violations</td></tr>
            <tr><td> Least critical application has <span th:text="${leastCriticalApplicationCount}"/> critical violations</td></tr>

        </tbody>
    </table>

    </div>
    </div></div></div></div>

    <!--  applications -->
    <div th:insert="fragmentApplications :: applicationsFrag"></div>

    <!--  security -->
    <div th:insert="fragmentSecurityViolations :: securityViolationsFrag"></div>

    <!--  license -->
    <div th:insert="fragmentLicenseViolations :: LicenseViolationsFrag"></div>
    
</body>
