<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:insert="header :: headerFrag"></div>

</head>

<body>
	<div class="jumbotron">
	<h3>Summary Report</h3>
    </div>

    <div>
    <div class="container">
    <div class="row">
    <div class="col-xl mx-auto bg-white rounded">
    <div class="table-responsive table-wrapper-scroll-y">
    
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>             
                <th scope="col">Current Period <span style="color:white;font-size:13px" th:text="${currentPeriodDateRange}"/></th>
                <th scope="col">Previous Period <span style="color:white;font-size:13px" th:text="${previousPeriodDateRange}"/></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>Onboarded <span th:text="${applicationsOnboardedAvg[0]}"/> applications at an average of <span th:text="${applicationsOnboardedAvg[1]}"/> per <span th:text="${timePeriod}"/></td>
            <td>Onboarded <span th:text="${ppapplicationsOnboardedAvg[0]}"/> applications at an average of <span th:text="${ppapplicationsOnboardedAvg[1]}"/> per <span th:text="${timePeriod}"/></td>
            </tr>
            <tr>
            <td>Scanned applications at an average of <span th:text="${numberOfApplicationsScannedAvg[1]}"/> per <span th:text="${timePeriod}"/></td>
            <td>Scanned applications at an average of <span th:text="${ppnumberOfApplicationsScannedAvg[1]}"/> per <span th:text="${timePeriod}"/></td>
            </tr>
            <tr>
            <td>Performed a total of <span th:text="${numberOfScansAvg[0]}"/> scans at an average of <span th:text="${numberOfScansAvg[1]}"/> per <span th:text="${timePeriod}"/></td>
            <td>Performed a total of <span th:text="${ppnumberOfScansAvg[0]}"/> scans at an average of <span th:text="${ppnumberOfScansAvg[1]}"/> per <span th:text="${timePeriod}"/></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="'Current Period'"></th>
                <th scope="col" th:text="Total"></th>
                <th scope="col" th:text="Critical"></th>
                <th scope="col" th:text="Severe"></th>
                <th scope="col" th:text="Moderate"></th>
            </tr>
        </thead>
        <tbody>
            <tr style="font-weight:bold">
                <td  th:text="'Discovered Security Violations'"></td>
                <td th:text="${discoveredSecurityViolationsTotals.pointA}+${discoveredSecurityViolationsTotals.pointB}+${discoveredSecurityViolationsTotals.pointC}"></td>
                <td th:text="${discoveredSecurityViolationsTotals.pointA}"></td>
                <td th:text="${discoveredSecurityViolationsTotals.pointB}"></td>
                <td th:text="${discoveredSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Open Security Violations'"></td>
                <td th:text="${openSecurityViolationsTotals.pointA}+${openSecurityViolationsTotals.pointB}+${openSecurityViolationsTotals.pointC}"></td>
                <td th:text="${openSecurityViolationsTotals.pointA}"></td>
                <td th:text="${openSecurityViolationsTotals.pointB}"></td>
                <td th:text="${openSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Fixed Security Violations'"></td>
                <td th:text="${fixedSecurityViolationsTotals.pointA}+${fixedSecurityViolationsTotals.pointB}+${fixedSecurityViolationsTotals.pointC}"></td>
                <td th:text="${fixedSecurityViolationsTotals.pointA}"></td>
                <td th:text="${fixedSecurityViolationsTotals.pointB}"></td>
                <td th:text="${fixedSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Waived Security Violations'"></td>
                <td th:text="${waivedSecurityViolationsTotals.pointA}+${waivedSecurityViolationsTotals.pointB}+${waivedSecurityViolationsTotals.pointC}"></td>
                <td th:text="${waivedSecurityViolationsTotals.pointA}"></td>
                <td th:text="${waivedSecurityViolationsTotals.pointB}"></td>
                <td th:text="${waivedSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td>
                <td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td>
            </tr>
            <tr style="font-weight:bold">
                <td th:text="'Discovered License Violations'"></td>
                <td th:text="${discoveredLicenseViolationsTotals.pointA}+${discoveredLicenseViolationsTotals.pointB}+${discoveredLicenseViolationsTotals.pointC}"></td>
                <td th:text="${discoveredLicenseViolationsTotals.pointA}"></td>
                <td th:text="${discoveredLicenseViolationsTotals.pointB}"></td>
                <td th:text="${discoveredLicenseViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Open License Violations'"></td>
                <td th:text="${openLicenseViolationsTotals.pointA}+${openLicenseViolationsTotals.pointB}+${openLicenseViolationsTotals.pointC}"></td>
                <td th:text="${openLicenseViolationsTotals.pointA}"></td>
                <td th:text="${openLicenseViolationsTotals.pointB}"></td>
                <td th:text="${openLicenseViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Fixed License Violations'"></td>
                <td th:text="${fixedLicenseViolationsTotals.pointA}+${fixedLicenseViolationsTotals.pointB}+${fixedLicenseViolationsTotals.pointC}"></td>
                <td th:text="${fixedLicenseViolationsTotals.pointA}"></td>
                <td th:text="${fixedLicenseViolationsTotals.pointB}"></td>
                <td th:text="${fixedLicenseViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Waived License Violations'"></td>
                <td th:text="${waivedLicenseViolationsTotals.pointA}+${waivedLicenseViolationsTotals.pointB}+${waivedLicenseViolationsTotals.pointC}"></td>
                <td th:text="${waivedLicenseViolationsTotals.pointA}"></td>
                <td th:text="${waivedLicenseViolationsTotals.pointB}"></td>
                <td th:text="${waivedLicenseViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td>
                <td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td>
            </tr>
            <tr style="font-weight:bold">
            	<td th:text="'Totals'"></td>
                <td th:text="${discoveredSecurityViolationsTotals.pointA}+${discoveredSecurityViolationsTotals.pointB}+${discoveredSecurityViolationsTotals.pointC}+
                			 ${discoveredLicenseViolationsTotals.pointA}+${discoveredLicenseViolationsTotals.pointB}+${discoveredLicenseViolationsTotals.pointC}">
                </td>
                <td th:text="${discoveredSecurityViolationsTotals.pointA}+${discoveredLicenseViolationsTotals.pointA}"></td>
                <td th:text="${discoveredSecurityViolationsTotals.pointB}+${discoveredLicenseViolationsTotals.pointB}"></td>
                <td th:text="${discoveredSecurityViolationsTotals.pointC}+${discoveredLicenseViolationsTotals.pointC}"></td>
            </tr>
        </tbody>
    </table>

    
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="'Previous Period'"></th>
                <th scope="col" th:text="Total"></th>
                <th scope="col" th:text="Critical"></th>
                <th scope="col" th:text="Severe"></th>
                <th scope="col" th:text="Moderate"></th>
            </tr>
        </thead>
        <tbody>
            <tr style="font-weight:bold" >
                <td th:text="'Discovered Security Violations'"></td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointA}+${ppdiscoveredSecurityViolationsTotals.pointB}+${ppdiscoveredSecurityViolationsTotals.pointC}"></td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointA}"></td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointB}"></td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Open Security Violations'"></td>
                <td th:text="${ppopenSecurityViolationsTotals.pointA}+${ppopenSecurityViolationsTotals.pointB}+${ppopenSecurityViolationsTotals.pointC}"></td>
                <td th:text="${ppopenSecurityViolationsTotals.pointA}"></td>
                <td th:text="${ppopenSecurityViolationsTotals.pointB}"></td>
                <td th:text="${ppopenSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Fixed Security Violations'"></td>
                <td th:text="${ppfixedSecurityViolationsTotals.pointA}+${ppfixedSecurityViolationsTotals.pointB}+${ppfixedSecurityViolationsTotals.pointC}"></td>
                <td th:text="${ppfixedSecurityViolationsTotals.pointA}"></td>
                <td th:text="${ppfixedSecurityViolationsTotals.pointB}"></td>
                <td th:text="${ppfixedSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Waived Security Violations'"></td>
                <td th:text="${ppwaivedSecurityViolationsTotals.pointA}+${ppwaivedSecurityViolationsTotals.pointB}+${ppwaivedSecurityViolationsTotals.pointC}"></td>
                <td th:text="${ppwaivedSecurityViolationsTotals.pointA}"></td>
                <td th:text="${ppwaivedSecurityViolationsTotals.pointB}"></td>
                <td th:text="${ppwaivedSecurityViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td>
                <td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td>
            </tr>
            <tr style="font-weight:bold" >
                <td th:text="'Discovered License Violations'"></td>
                <td th:text="${ppdiscoveredLicenseViolationsTotals.pointA}+${ppdiscoveredLicenseViolationsTotals.pointB}+${ppdiscoveredLicenseViolationsTotals.pointC}"></td>
                <td th:text="${ppdiscoveredLicenseViolationsTotals.pointA}"></td>
                <td th:text="${ppdiscoveredLicenseViolationsTotals.pointB}"></td>
                <td th:text="${ppdiscoveredLicenseViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Open License Violations'"></td>
                <td th:text="${ppopenLicenseViolationsTotals.pointA}+${ppopenLicenseViolationsTotals.pointB}+${ppopenLicenseViolationsTotals.pointC}"></td>
                <td th:text="${ppopenLicenseViolationsTotals.pointA}"></td>
                <td th:text="${ppopenLicenseViolationsTotals.pointB}"></td>
                <td th:text="${ppopenLicenseViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Fixed License Violations'"></td>
                <td th:text="${ppfixedLicenseViolationsTotals.pointA}+${ppfixedLicenseViolationsTotals.pointB}+${ppfixedLicenseViolationsTotals.pointC}"></td>
                <td th:text="${ppfixedLicenseViolationsTotals.pointA}"></td>
                <td th:text="${ppfixedLicenseViolationsTotals.pointB}"></td>
                <td th:text="${ppfixedLicenseViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td th:text="'Waived License Violations'"></td>
                <td th:text="${ppwaivedLicenseViolationsTotals.pointA}+${ppwaivedLicenseViolationsTotals.pointB}+${ppwaivedLicenseViolationsTotals.pointC}"></td>
                <td th:text="${ppwaivedLicenseViolationsTotals.pointA}"></td>
                <td th:text="${ppwaivedLicenseViolationsTotals.pointB}"></td>
                <td th:text="${ppwaivedLicenseViolationsTotals.pointC}"></td>
            </tr>
            <tr>
                <td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td>
                <td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td>
            </tr>
            <tr style="font-weight:bold" >
            	<td th:text="'Total'"></td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointA}+${ppdiscoveredSecurityViolationsTotals.pointB}+${ppdiscoveredSecurityViolationsTotals.pointC}+
                			 ${ppdiscoveredLicenseViolationsTotals.pointA}+${ppdiscoveredLicenseViolationsTotals.pointB}+${ppdiscoveredLicenseViolationsTotals.pointC}">
                </td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointA}+${ppdiscoveredLicenseViolationsTotals.pointA}"></td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointB}+${ppdiscoveredLicenseViolationsTotals.pointB}"></td>
                <td th:text="${ppdiscoveredSecurityViolationsTotals.pointC}+${ppdiscoveredLicenseViolationsTotals.pointC}"></td>
            </tr>
            
        </tbody>
    </table>
    
    
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Current Period</th>
                <th scope="col">Previous Period</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
            <td> Your fix rate is <span th:text="${fixRate}"/>%</td>
            <td> Your fix rate is <span th:text="${ppfixRate}"/>%</td>
            </tr> -->
            <tr>
            <td> It took an average of <span th:text="${mttrAvg[0]}"/> days to fix critical violations</td>
            <td> It took an average of <span th:text="${ppmttrAvg[0]}"/> days to fix critical violations</td>
            </tr>
            <tr>
            <td> It took an average of <span th:text="${mttrAvg[1]}"/> days to fix severe violations</td>
            <td> It took an average of <span th:text="${ppmttrAvg[1]}"/> days to fix severe violations</td>
            </tr>
            <tr>
            <td> It took an average of <span th:text="${mttrAvg[2]}"/> days to fix moderate violations</td>
            <td> It took an average of <span th:text="${ppmttrAvg[2]}"/> days to fix moderate violations</td>
            </tr>
            <tr>
            <td style="background-color: aliceblue;"></td>
            <td style="background-color: aliceblue;"></td>
            </tr>
            <!-- <tr>
            <td> On average, each application has <span th:text="${openCriticalViolationsAvg}"/> open critical violations</td>
            <td> On average, each application has <span th:text="${ppopenCriticalViolationsAvg}"/> open critical violations</td>
            </tr> -->
            <tr>
            <td> Most critical application has <span th:text="${mostCriticalApplicationCount}"/> critical violations</td>
            <td> Most critical application has <span th:text="${ppmostCriticalApplicationCount}"/> critical violations</td>
            </tr>
            <tr>
            <td> Least critical application has <span th:text="${leastCriticalApplicationCount}"/> critical violations</td>
            <td> Least critical application has <span th:text="${ppleastCriticalApplicationCount}"/> critical violations</td>
            </tr>

        </tbody>
    </table>

    </div>
    </div></div></div></div>
	<div style="page-break-before: always;"/> 	

    <!--  applications -->
    <div th:insert="fragmentApplications :: applicationsFrag"></div>

    <div style="page-break-before: always;"/> 	

    <!--  security -->
    <div th:insert="fragmentSecurityViolations :: securityViolationsFrag"></div>

    <div style="page-break-before: always;"/> 	

    <!--  license -->
    <div th:insert="fragmentLicenseViolations :: LicenseViolationsFrag"></div>
    
</body>
