<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
   <head>
      <title>Success Metrics Report</title>
      <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
      <script type = "text/javascript">google.charts.load('current', {packages: ['corechart']});</script>
      <link href="/css/main.css" rel="stylesheet">
   </head>
   
   <body>
   		
      <h2 class="page-title" th:text="'Success Metrics Report'"></h2>
      
      <script th:inline="javascript">
      	function drawMyChart() {
    	  
          	var points = /*[[${dataPoints}]]*/'noValue';
          	var mp = [];
          	
    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Number of Applications');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var count = entry.count;
                data.addRow([ `${period}`, parseInt(`${count}`) ]);
            }); 
    	       
    	    var options = {'title':'Applications Onboarded', 'width':750, 'height':400};

    	    var chart = new google.visualization.BarChart(document.getElementById ('mychart'));
    	    
    	    chart.draw(data, options);
    	 }

    	google.charts.setOnLoadCallback(drawMyChart);
      </script>
      <div id="mychart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      <script th:inline="javascript">
      	function drawScannedCountChart() {
    	  
          	var points = /*[[${scannedApplicationsCount}]]*/'noValue';
          	var mp = [];
          	
    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'Period');
    	    data.addColumn('number', 'Number of Scans');
    	    
    	    points.forEach(entry => {
                var period = entry.period;
                var count = entry.count;
                data.addRow([ `${period}`, parseInt(`${count}`) ]);
            }); 
    	       
    	    var options = {'title':'Applications Scanned', 'width':750, 'height':400};

    	    var chart = new google.visualization.BarChart(document.getElementById ('drawScannedCountChart'));
    	    
    	    chart.draw(data, options);
    	 }

    	google.charts.setOnLoadCallback(drawScannedCountChart);
      </script>
      <div id="drawScannedCountChart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      <!--  test graphs - start -->
      
     <!--  <script type="text/javascript" src="js/piechart.js"></script>
      <div id="piechart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      
      <script type="text/javascript" src="js/barchart.js"></script>
      <div id="barchart" style = "width: 550px; height: 400px; margin: 0 auto"></div> -->
      
      <!--  test graphs - end -->
      
      
   </body>
</html>