
<html xmlns:th="http://www.thymeleaf.org">
<body>

  <div>
    <h3>Summary Report</h3>
  </div>

  <h3 style="text-align: center; color: green">
    <span th:text="'Welcome to ' + '!'"></span>
  </h3>

  <table style="width:100%">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th> 
      <th>Age</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td> 
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td> 
      <td>94</td>
    </tr>
  </table>

  <table style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Total</th>
            <th>Critical</th>
            <th>Severe</th>
            <th>Moderte</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Discovered Security Violations</td>
            <td>23</td>
            <td>45</td>
            <td>68</td>
            <td>98</td>
        </tr>
    </tbody>
  </table>

  <table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr><td>Onboarded <span th:text="${applicationsOnboardedAvg[0]}"/> applications at an average of <span th:text="${applicationsOnboardedAvg[1]}"/> per <span th:text="${timePeriod}"/></td></tr>
        <tr><td>Scanned applications at an average of <span th:text="${numberOfApplicationsScannedAvg[1]}"/> per <span th:text="${timePeriod}"/></td></tr>
        <tr><td>Performed a total of <span th:text="${numberOfScansAvg[0]}"/> scans at an average of <span th:text="${numberOfScansAvg[1]}"/> per <span th:text="${timePeriod}"/></td></tr>
    </tbody>
</table>


  <table style="width:100%">
    <thead>
      <tr>
        <th></th>
        <th>Total</th>
        <th>Critical</th>
        <th>Severe</th>
        <th>Moderte</th>
    </tr>
    </thead>
    <tbody>
      <tr>
          <td style="font-weight:bold" th:text="'Discovered Security Violations'"></td>
          <td th:text="${discoveredSecurityViolationsTotals.pointA}+${discoveredSecurityViolationsTotals.pointB}+${discoveredSecurityViolationsTotals.pointC}"></td>
          <td th:text="${discoveredSecurityViolationsTotals.pointA}"></td>
          <td th:text="${discoveredSecurityViolationsTotals.pointB}"></td>
          <td th:text="${discoveredSecurityViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td style="font-weight:bold" th:text="'Open Security Violations'"></td>
          <td th:text="${openSecurityViolationsTotals.pointA}+${openSecurityViolationsTotals.pointB}+${openSecurityViolationsTotals.pointC}"></td>
          <td th:text="${openSecurityViolationsTotals.pointA}"></td>
          <td th:text="${openSecurityViolationsTotals.pointB}"></td>
          <td th:text="${openSecurityViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td style="font-weight:bold" th:text="'Fixed Security Violations'"></td>
          <td th:text="${fixedSecurityViolationsTotals.pointA}+${fixedSecurityViolationsTotals.pointB}+${fixedSecurityViolationsTotals.pointC}"></td>
          <td th:text="${fixedSecurityViolationsTotals.pointA}"></td>
          <td th:text="${fixedSecurityViolationsTotals.pointB}"></td>
          <td th:text="${fixedSecurityViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td style="font-weight:bold" th:text="'Waived Security Violations'"></td>
          <td th:text="${waivedSecurityViolationsTotals.pointA}+${waivedSecurityViolationsTotals.pointB}+${waivedSecurityViolationsTotals.pointC}"></td>
          <td th:text="${waivedSecurityViolationsTotals.pointA}"></td>
          <td th:text="${waivedSecurityViolationsTotals.pointB}"></td>
          <td th:text="${waivedSecurityViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td>
          <td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td><td style="background-color: aliceblue;"></td>
      </tr>
      <tr>
          <td style="font-weight:bold" th:text="'Discovered License Violations'"></td>
          <td th:text="${discoveredLicenseViolationsTotals.pointA}+${discoveredLicenseViolationsTotals.pointB}+${discoveredLicenseViolationsTotals.pointC}"></td>
          <td th:text="${discoveredLicenseViolationsTotals.pointA}"></td>
          <td th:text="${discoveredLicenseViolationsTotals.pointB}"></td>
          <td th:text="${discoveredLicenseViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td style="font-weight:bold" th:text="'Open License Violations'"></td>
          <td th:text="${openLicenseViolationsTotals.pointA}+${openLicenseViolationsTotals.pointB}+${openLicenseViolationsTotals.pointC}"></td>
          <td th:text="${openLicenseViolationsTotals.pointA}"></td>
          <td th:text="${openLicenseViolationsTotals.pointB}"></td>
          <td th:text="${openLicenseViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td style="font-weight:bold" th:text="'Fixed License Violations'"></td>
          <td th:text="${fixedLicenseViolationsTotals.pointA}+${fixedLicenseViolationsTotals.pointB}+${fixedLicenseViolationsTotals.pointC}"></td>
          <td th:text="${fixedLicenseViolationsTotals.pointA}"></td>
          <td th:text="${fixedLicenseViolationsTotals.pointB}"></td>
          <td th:text="${fixedLicenseViolationsTotals.pointC}"></td>
      </tr>
      <tr>
          <td style="font-weight:bold" th:text="'Waived License Violations'"></td>
          <td th:text="${waivedLicenseViolationsTotals.pointA}+${waivedLicenseViolationsTotals.pointB}+${waivedLicenseViolationsTotals.pointC}"></td>
          <td th:text="${waivedLicenseViolationsTotals.pointA}"></td>
          <td th:text="${waivedLicenseViolationsTotals.pointB}"></td>
          <td th:text="${waivedLicenseViolationsTotals.pointC}"></td>
      </tr>
      </tbody>
    </table>

    <table class="table table-hover">
      <thead class="thead-dark">
          <tr>
              <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
          <tr><td> Your fix rate is <span th:text="${fixRate}"/>%</td></tr>
          <tr><td> It took an average of <span th:text="${mttrAvg[0]}"/> days to fix critical violations</td></tr>
          <tr><td> It took an average of <span th:text="${mttrAvg[1]}"/> days to fix severe violations</td></tr>
          <tr><td> It took an average of <span th:text="${mttrAvg[2]}"/> days to fix moderate violations</td></tr>
          <tr><td style="background-color: aliceblue;"></td></tr>
          <tr><td> On average, each application has <span th:text="${openCriticalViolationsAvg}"/> open critical violations</td></tr>
          <tr><td> Most critical application has <span th:text="${mostCriticalApplicationCount}"/> critical violations</td></tr>
          <tr><td> Least critical application has <span th:text="${leastCriticalApplicationCount}"/> critical violations</td></tr>

      </tbody>
  </table>

</body>
</html>
