
<div th:fragment="securityViolationsFrag">

	<div class="chart-container" style="position: relative; width:50vw">

		<canvas id="securityViolationsDataChart" width="400" height="400"></canvas>
      	<script th:inline="javascript">
	     	var points = /*[[${securityViolationsData}]]*/'noValue';
	     	var dataA = [];
	     	var dataB = [];
	     	var dataC = [];
	     	var dataD = [];

	     	var labels = [];
	     	
	     	points.forEach(entry => {
	            var label = entry.label;
	            var pointA = entry.pointA;
	            var pointB = entry.pointB;
	            var pointC = entry.pointC;
	            var pointD = entry.pointD;

	            labels.push(label);
	            dataA.push(pointA);
	            dataB.push(pointB);
	            dataC.push(pointC);
	            dataD.push(pointD);

	        }); 
	     	
			var securityViolationsDataChartCtx = document.getElementById('securityViolationsDataChart').getContext('2d');
			
			var data = {
					labels: labels,
					datasets: [
						{
							label: 'Discovered',
							data: dataA,
							backgroundColor: 'orange'  
						},
						{
							label: 'Fixed',
							data: dataB,
							backgroundColor: 'green' 
						},
						{
							label: 'Waived',
							data: dataC,
							backgroundColor: 'yellow' 
						},
						{
							label: 'Open',
							data: dataD,
							backgroundColor: 'red' 
						}
					]};
			
	     	var myBarChart = new Chart(securityViolationsDataChartCtx, {
	     	    type: 'bar',
	            data: data,
	            options: {
	            	layout: {
			            padding: {
			                left: 100,
			                right: 100,
			                top: 100,
			                bottom: 100
			            }
	            	},
			        scales: {
			               xAxes: [{ stacked: true }],
			               yAxes: [{ stacked: true }]
			        },
			        title: {
			            display: true,
			            text: 'Security Violations'
			        }
	     		}
	        });
     	</script>
     	
		<canvas id="openSecurityViolationsDataChart" width="400" height="400"></canvas>
      	<script th:inline="javascript">
	     	var points = /*[[${openSecurityViolationsData}]]*/'noValue';
	     	var dataA = [];
	     	var dataB = [];
	     	var dataC = [];
	     	var dataD = [];

	     	var labels = [];
	     	
	     	points.forEach(entry => {
	            var label = entry.label;
	            var pointA = entry.pointA;
	            var pointB = entry.pointB;
	            var pointC = entry.pointC;
	            var pointD = entry.pointD;

	            labels.push(label);
	            dataA.push(pointA);
	            dataB.push(pointB);
	            dataC.push(pointC);
	            dataD.push(pointD);

	        }); 
	     	
			var openSecurityViolationsDataChartCtx = document.getElementById('openSecurityViolationsDataChart').getContext('2d');
			
			var data = {
					labels: labels,
					datasets: [
						{
							label: 'Critical',
							data: dataA,
							backgroundColor: 'red'  
						},
						{
							label: 'Severe',
							data: dataB,
							backgroundColor: 'orange' 
						},
						{
							label: 'Moderate',
							data: dataC,
							backgroundColor: 'yellow' 
						},
					]};
			
	     	var myBarChart = new Chart(openSecurityViolationsDataChartCtx, {
	     	    type: 'bar',
	            data: data,
	            options: {
	            	layout: {
			            padding: {
			                left: 100,
			                right: 100,
			                top: 100,
			                bottom: 100
			            }
	            	},
			        scales: {
			               xAxes: [{ stacked: true }],
			               yAxes: [{ stacked: true }]
			        },
			        title: {
			            display: true,
			            text: 'Open Security Violations'
			        }
	     		}
	        });
     	</script>
     	
     	<canvas id="discoveredSecurityViolationsDataChart" width="400" height="400"></canvas>
      	<script th:inline="javascript">
	     	var points = /*[[${discoveredSecurityViolationsData}]]*/'noValue';
	     	var dataA = [];
	     	var dataB = [];
	     	var dataC = [];

	     	var labels = [];
	     	
	     	points.forEach(entry => {
	            var label = entry.label;
	            var pointA = entry.pointA;
	            var pointB = entry.pointB;
	            var pointC = entry.pointC;
	            labels.push(label);
	            dataA.push(pointA);
	            dataB.push(pointB);
	            dataC.push(pointC);
	        }); 
	     	
			var discoveredSecurityViolationsDataChartCtx = document.getElementById('discoveredSecurityViolationsDataChart').getContext('2d');
			
			var data = {
					labels: labels,
					datasets: [
						{
							label: 'Critical',
							data: dataA,
							backgroundColor: 'red' // green
						},
						{
							label: 'Severe',
							data: dataB,
							backgroundColor: 'orange' // green
						},
						{
							label: 'Moderate',
							data: dataC,
							backgroundColor: 'yellow' // green
						}
					]};
			
	     	var myBarChart = new Chart(discoveredSecurityViolationsDataChartCtx, {
	     	    type: 'bar',
	            data: data,
	            options: {
	            	layout: {
			            padding: {
			                left: 100,
			                right: 100,
			                top: 100,
			                bottom: 100
			            }
	            	},
			        scales: {
			               xAxes: [{ stacked: true }],
			               yAxes: [{ stacked: true }]
			        },
			        title: {
			            display: true,
			            text: 'Discovered Security Violations'
			        }
	     		}
	        });
     	</script>
     	
		<canvas id="fixedSecurityViolationsDataChart" width="400" height="400"></canvas>
      	<script th:inline="javascript">
	     	var points = /*[[${fixedSecurityViolationsData}]]*/'noValue';
	     	var dataA = [];
	     	var dataB = [];
	     	var dataC = [];

	     	var labels = [];
	     	
	     	points.forEach(entry => {
	            var label = entry.label;
	            var pointA = entry.pointA;
	            var pointB = entry.pointB;
	            var pointC = entry.pointC;
	            labels.push(label);
	            dataA.push(pointA);
	            dataB.push(pointB);
	            dataC.push(pointC);
	        }); 
	     	
			var fixedSecurityViolationsDataCtx = document.getElementById('fixedSecurityViolationsDataChart').getContext('2d');
			
			var data = {
					labels: labels,
					datasets: [
						{
							label: 'Critical',
							data: dataA,
							backgroundColor: 'red'  
						},
						{
							label: 'Severe',
							data: dataB,
							backgroundColor: 'orange' 
						},
						{
							label: 'Moderate',
							data: dataC,
							backgroundColor: 'yellow' 
						}
					]};
			
	     	var myBarChart = new Chart(fixedSecurityViolationsDataCtx, {
	     	    type: 'bar',
	            data: data,
	            options: {
	            	layout: {
			            padding: {
			                left: 100,
			                right: 100,
			                top: 100,
			                bottom: 100
			            }
	            	},
			        scales: {
			               xAxes: [{ stacked: true }],
			               yAxes: [{ stacked: true }]
			        },
			        title: {
			            display: true,
			            text: 'Fixed Security Violations'
			        }
	     		}
	        });
     	</script>

		<canvas id="waivedSecurityViolationsDataChart" width="400" height="400"></canvas>
      	<script th:inline="javascript">
	     	var points = /*[[${waivedSecurityViolationsData}]]*/'noValue';
	     	var dataA = [];
	     	var dataB = [];
	     	var dataC = [];

	     	var labels = [];
	     	
	     	points.forEach(entry => {
	            var label = entry.label;
	            var pointA = entry.pointA;
	            var pointB = entry.pointB;
	            var pointC = entry.pointC;
	            labels.push(label);
	            dataA.push(pointA);
	            dataB.push(pointB);
	            dataC.push(pointC);
	        }); 
	     	
			var waivedSecurityViolationsDataCtx = document.getElementById('waivedSecurityViolationsDataChart').getContext('2d');
			
			var data = {
					labels: labels,
					datasets: [
						{
							label: 'Critical',
							data: dataA,
							backgroundColor: 'red'  
						},
						{
							label: 'Severe',
							data: dataB,
							backgroundColor: 'orange' 
						},
						{
							label: 'Moderate',
							data: dataC,
							backgroundColor: 'yellow' 
						}
					]};
			
	     	var myBarChart = new Chart(waivedSecurityViolationsDataCtx, {
	     	    type: 'bar',
	            data: data,
	            options: {
	            	layout: {
			            padding: {
			                left: 100,
			                right: 100,
			                top: 100,
			                bottom: 100
			            }
	            	},
			        scales: {
			               xAxes: [{ stacked: true }],
			               yAxes: [{ stacked: true }]
			        },
			        title: {
			            display: true,
			            text: 'Waived Security Violations'
			        }
	     		}
	        });
     	</script>
	
		<canvas id="criticalSecurityViolationsDataChart" width="400" height="400"></canvas>
      	<script th:inline="javascript">
	     	var points = /*[[${criticalSecurityViolationsData}]]*/'noValue';
	     	var dataA = [];
	     	var dataB = [];
	     	var dataC = [];

	     	var labels = [];
	     	
	     	points.forEach(entry => {
	            var label = entry.label;
	            var pointA = entry.pointA;
	            var pointB = entry.pointB;
	            var pointC = entry.pointC;
	            labels.push(label);
	            dataA.push(pointA);
	            dataB.push(pointB);
	            dataC.push(pointC);
	        }); 
	     	
			var criticalSecurityViolationsDataCtx = document.getElementById('criticalSecurityViolationsDataChart').getContext('2d');
			
			var data = {
					labels: labels,
					datasets: [
						{
							label: 'Discovered',
							data: dataA,
							backgroundColor: 'red'  
						},
						{
							label: 'Fixed',
							data: dataB,
							backgroundColor: 'green' 
						},
						{
							label: 'Waived',
							data: dataC,
							backgroundColor: 'yellow' 
						}
					]};
			
	     	var myBarChart = new Chart(criticalSecurityViolationsDataCtx, {
	     	    type: 'bar',
	            data: data,
	            options: {
	            	layout: {
			            padding: {
			                left: 100,
			                right: 100,
			                top: 100,
			                bottom: 100
			            }
	            	},
			        scales: {
			               xAxes: [{ stacked: true }],
			               yAxes: [{ stacked: true }]
			        },
			        title: {
			            display: true,
			            text: 'Critical Security Violations (Discovered)'
			        }
	     		}
	        });
     	</script>
		
		<canvas id="severeSecurityViolationsDataChart" width="400" height="400"></canvas>
      	<script th:inline="javascript">
	     	var points = /*[[${severeSecurityViolationsData}]]*/'noValue';
	     	var dataA = [];
	     	var dataB = [];
	     	var dataC = [];

	     	var labels = [];
	     	
	     	points.forEach(entry => {
	            var label = entry.label;
	            var pointA = entry.pointA;
	            var pointB = entry.pointB;
	            var pointC = entry.pointC;
	            labels.push(label);
	            dataA.push(pointA);
	            dataB.push(pointB);
	            dataC.push(pointC);
	        }); 
	     	
			var severeSecurityViolationsDataCtx = document.getElementById('severeSecurityViolationsDataChart').getContext('2d');
			
			var data = {
					labels: labels,
					datasets: [
						{
							label: 'Discovered',
							data: dataA,
							backgroundColor: 'red' // green
						},
						{
							label: 'Fixed',
							data: dataB,
							backgroundColor: 'green' // green
						},
						{
							label: 'Waived',
							data: dataC,
							backgroundColor: 'yellow' // green
						}
					]};
			
	     	var myBarChart = new Chart(severeSecurityViolationsDataCtx, {
	     	    type: 'bar',
	            data: data,
	            options: {
	            	layout: {
			            padding: {
			                left: 100,
			                right: 100,
			                top: 100,
			                bottom: 100
			            }
	            	},
			        scales: {
			               xAxes: [{ stacked: true }],
			               yAxes: [{ stacked: true }]
			        },
			        title: {
			            display: true,
			            text: 'Severe Security Violations (Discovered)'
			        }
	     		}
	        });
     	</script>
	
		<canvas id="moderateSecurityViolationsDataChart" width="400" height="400"></canvas>
      	<script th:inline="javascript">
	     	var points = /*[[${moderateSecurityViolationsData}]]*/'noValue';
	     	var dataA = [];
	     	var dataB = [];
	     	var dataC = [];

	     	var labels = [];
	     	
	     	points.forEach(entry => {
	            var label = entry.label;
	            var pointA = entry.pointA;
	            var pointB = entry.pointB;
	            var pointC = entry.pointC;
	            labels.push(label);
	            dataA.push(pointA);
	            dataB.push(pointB);
	            dataC.push(pointC);
	        }); 
	     	
			var moderateSecurityViolationsDataCtx = document.getElementById('moderateSecurityViolationsDataChart').getContext('2d');
			
			var data = {
					labels: labels,
					datasets: [
						{
							label: 'Discovered',
							data: dataA,
							backgroundColor: 'red'  
						},
						{
							label: 'Fixed',
							data: dataB,
							backgroundColor: 'green' 
						},
						{
							label: 'Waived',
							data: dataC,
							backgroundColor: 'yellow' 
						}
					]};
			
	     	var myBarChart = new Chart(moderateSecurityViolationsDataCtx, {
	     	    type: 'bar',
	            data: data,
	            options: {
	            	layout: {
			            padding: {
			                left: 100,
			                right: 100,
			                top: 100,
			                bottom: 100
			            }
	            	},
			        scales: {
			               xAxes: [{ stacked: true }],
			               yAxes: [{ stacked: true }]
			        },
			        title: {
			            display: true,
			            text: 'Moderate Security Violations (Discovered)'
			        }
	     		}
	        });
     	</script>	
	
	</div>
</div>
     
     	
     