<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
   <head>
      <title>Success Metrics Report</title>
      <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
      <script type = "text/javascript">google.charts.load('current', {packages: ['corechart']});</script>
      <script type = "text/javascript">google.charts.load('current', {packages: ['table']});</script>      
      <link href="/css/main.css" rel="stylesheet">
      <img class="displayed" th:src="@{images/sonatype.png}"/>
   </head>
   
   <body>
   
      <h2>Success Metrics - Security Violations Report</h2>
      <p class="date-title" th:text="${#dates.createNow()}"></p>
       
      <div style="page-break-always: always;">
       
       <script th:inline="javascript">
      	function securityViolations() {
          	var points = /*[[${securityViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'label');
    	    data.addColumn('number', 'Discovered');
    	    data.addColumn('number', 'Fixed');
    	    data.addColumn('number', 'Waived');
    	    data.addColumn('number', 'Open');

    	    points.forEach(entry => {
                var label = entry.label;
                var pointA = entry.pointA;
                var pointB = entry.pointB;
                var pointC = entry.pointC;
                var pointD = entry.pointD;

                data.addRow([ `${label}`, parseInt(`${pointA}`), parseInt(`${pointB}`), parseInt(`${pointC}`), parseInt(`${pointD}`) ]);
            }); 
    	    
    	    var options = {'title':'Security Violations', 'width':750, 'height':400, isStacked: true, colors: ['#F1DF22', 'green', 'orange', 'red']};  
    	    
    	    /* var options_stacked = {
    	            isStacked: true,
    	            height: 300,
    	            legend: {position: 'top', maxLines: 3},
    	            vAxis: {minValue: 0}
    	          };
    	    
    	    var options_fullStacked = {
    	            isStacked: 'percent',
    	            height: 300,
    	            legend: {position: 'top', maxLines: 3},
    	            vAxis: {
    	              minValue: 0,
    	              ticks: [0, .3, .6, .9, 1]
    	            }
    	          }; */
    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('securityViolationsChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(securityViolations);

      </script>
       <div id="securityViolationsChart" style = "width: 650px; height: 400px;"></div>
   
       <script th:inline="javascript">
      	function openSecurityViolations() {
          	var points = /*[[${openSecurityViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'label');
    	    data.addColumn('number', 'Critical');
    	    data.addColumn('number', 'Severe');
    	    data.addColumn('number', 'Moderate');
    	    
    	    points.forEach(entry => {
                var label = entry.label;
                var pointA = entry.pointA;
                var pointB = entry.pointB;
                var pointC = entry.pointC;
                data.addRow([ `${label}`, parseInt(`${pointA}`), parseInt(`${pointB}`), parseInt(`${pointC}`) ]);
            }); 
    	    
    	    var options = {'title':'Open Security Violations', 'width':750, 'height':400, isStacked: true, colors: ['red', 'orange', '#F1DF22']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('openSecurityViolationsChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(openSecurityViolations);

      </script>
       <div id="openSecurityViolationsChart" style = "width: 650px; height: 400px;"></div>
      
      </div>
      
      <div style="page-break-always: always;">
      
 		<script th:inline="javascript">
      	function discoveredSecurityViolations() {
          	var points = /*[[${discoveredSecurityViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'label');
    	    data.addColumn('number', 'Critical');
    	    data.addColumn('number', 'Severe');
    	    data.addColumn('number', 'Moderate');
    	    
    	    points.forEach(entry => {
                var label = entry.label;
                var pointA = entry.pointA;
                var pointB = entry.pointB;
                var pointC = entry.pointC;
                data.addRow([ `${label}`, parseInt(`${pointA}`), parseInt(`${pointB}`), parseInt(`${pointC}`) ]);
            }); 
    	    
    	    var options = {'title':'Discovered Security Violations', 'width':750, 'height':400, isStacked: true, colors: ['red', 'orange', '#F1DF22']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('discoveredSecurityViolationsChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(discoveredSecurityViolations);

      </script>
        <div id="discoveredSecurityViolationsChart" style = "width: 650px; height: 400px;"></div>
      
       <script th:inline="javascript">
      	function fixedSecurityViolations() {
          	var points = /*[[${fixedSecurityViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'label');
    	    data.addColumn('number', 'Critical');
    	    data.addColumn('number', 'Severe');
    	    data.addColumn('number', 'Moderate');
    	    
    	    points.forEach(entry => {
                var label = entry.label;
                var pointA = entry.pointA;
                var pointB = entry.pointB;
                var pointC = entry.pointC;
                data.addRow([ `${label}`, parseInt(`${pointA}`), parseInt(`${pointB}`), parseInt(`${pointC}`) ]);
            }); 
    	    
    	    var options = {'title':'Fixed Security Violations', 'width':750, 'height':400, isStacked: true, colors: ['red', 'orange', '#F1DF22']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('fixedSecurityViolationsChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(fixedSecurityViolations);

      </script>
       <div id="fixedSecurityViolationsChart" style = "width: 650px; height: 400px;"></div>
      
      </div>
      
      <div style="page-break-always: always;">
      
      <script th:inline="javascript">
      	function waivedSecurityViolations() {
          	var points = /*[[${waivedSecurityViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'label');
    	    data.addColumn('number', 'Critical');
    	    data.addColumn('number', 'Severe');
    	    data.addColumn('number', 'Moderate');
    	    
    	    points.forEach(entry => {
                var label = entry.label;
                var pointA = entry.pointA;
                var pointB = entry.pointB;
                var pointC = entry.pointC;
                data.addRow([ `${label}`, parseInt(`${pointA}`), parseInt(`${pointB}`), parseInt(`${pointC}`) ]);
            }); 
    	    
    	    var options = {'title':'Waived Security Violations', 'width':750, 'height':400, isStacked: true, colors: ['red', 'orange', '#F1DF22']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('waivedSecurityViolationsChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(waivedSecurityViolations);

      </script>
      <div id="waivedSecurityViolationsChart" style = "width: 650px; height: 400px;"></div>
      
      <script th:inline="javascript">
      	function criticalSecurityViolations() {
          	var points = /*[[${criticalSecurityViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'label');
    	    data.addColumn('number', 'Discovered');
    	    data.addColumn('number', 'Fixed');
    	    data.addColumn('number', 'Waived');
    	    
    	    points.forEach(entry => {
                var label = entry.label;
                var pointA = entry.pointA;
                var pointB = entry.pointB;
                var pointC = entry.pointC;
                data.addRow([ `${label}`, parseInt(`${pointA}`), parseInt(`${pointB}`), parseInt(`${pointC}`) ]);
            }); 
    	    
    	    var options = {'title':'Critical Security Violations', 'width':750, 'height':400, isStacked: true, colors: ['red', 'green', 'orange']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('criticalSecurityViolationsChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(criticalSecurityViolations);

      </script>
      <div id="criticalSecurityViolationsChart" style = "width: 650px; height: 400px;"></div>
      
      </div>
      
      <div style="page-break-always: always;">
      
      <script th:inline="javascript">
      	function severeSecurityViolations() {
          	var points = /*[[${severeSecurityViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'label');
    	    data.addColumn('number', 'Discovered');
    	    data.addColumn('number', 'Fixed');
    	    data.addColumn('number', 'Waived');
    	    
    	    points.forEach(entry => {
                var label = entry.label;
                var pointA = entry.pointA;
                var pointB = entry.pointB;
                var pointC = entry.pointC;
                data.addRow([ `${label}`, parseInt(`${pointA}`), parseInt(`${pointB}`), parseInt(`${pointC}`) ]);
            }); 
    	    
    	    var options = {'title':'Severe Security Violations', 'width':750, 'height':400, isStacked: true, colors: ['red', 'green', 'orange']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('severeSecurityViolationsChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(severeSecurityViolations);

      </script>
      <div id="severeSecurityViolationsChart" style = "width: 650px; height: 400px;"></div>
     
      <script th:inline="javascript">
      	function moderateSecurityViolations() {
          	var points = /*[[${moderateSecurityViolationsData}]]*/'noValue';

    		var data = new google.visualization.DataTable();
    	    data.addColumn('string', 'label');
    	    data.addColumn('number', 'Discovered');
    	    data.addColumn('number', 'Fixed');
    	    data.addColumn('number', 'Waived');
    	    
    	    points.forEach(entry => {
                var label = entry.label;
                var pointA = entry.pointA;
                var pointB = entry.pointB;
                var pointC = entry.pointC;
                data.addRow([ `${label}`, parseInt(`${pointA}`), parseInt(`${pointB}`), parseInt(`${pointC}`) ]);
            }); 
    	    
    	    var options = {'title':'Moderate Security Violations', 'width':750, 'height':400, isStacked: true, colors: ['red', 'green', 'orange']};    	    
    	    var chart = new google.visualization.ColumnChart(document.getElementById ('moderateSecurityViolationsChart'));
    	    chart.draw(data, options);
    	 }
  		google.charts.setOnLoadCallback(moderateSecurityViolations);

      </script>
      <div id="moderateSecurityViolationsChart" style = "width: 650px; height: 400px;"></div>
      
      </div>
       
   </body>
</html>