<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:insert="header :: headerFrag"></div>
</head>

<body>
   
   <div class="jumbotron">
   	<h3>Summary Report</h3>
   </div>
   <div th:insert="summaryFragment :: summaryFrag"></div>
   
   <div>
   <table>
   <tr>
    <td><br>- On average, each application has <span th:text="${applicationCriticalViolationsAvg.avg}"/> open critical violations</td>
    </tr>
    
    <tr><td>&nbsp;&nbsp;Most Critical Application: <span th:text="${mostCriticalApplication.label}"/> with <span th:text="${mostCriticalApplication.count}"/> critical violations</td></tr>
    
    <tr><td>&nbsp;&nbsp;Least Critical Application: <span th:text="${leastCriticalApplication.label}"/> with <span th:text="${leastCriticalApplication.count}"/> critical violations</td></tr>
   
  	</table>
  	</div>
  
</body>
</html> 

