<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:insert="header :: headerFrag"></div>
</head>

<body>
	<div class="jumbotron">
	<h3>Summary Report</h3>
	
    <div th:insert="summaryFragment :: summaryFrag"></div>
   
    <table>
    <tr>
    <td><br>- On average, each application has <span th:text="${applicationCriticalViolationsAvg.avg}"/> open critical violations</td>
    </tr>
    
    <tr><td>&nbsp;&nbsp;Most Critical Application has <span th:text="${mostCriticalApplication.count}"/> critical violations</td></tr>
    
    <tr><td>&nbsp;&nbsp;Least Critical Application has <span th:text="${leastCriticalApplication.count}"/> critical violations</td></tr>
   
  	</table>
  	
  	<br><br>
  	
	<div style="page-break-before: always;"/> 	
 
 	<!--  applications -->
    <div th:insert="applicationsFragment :: applicationsFrag"></div>
 	
 	<div style="page-break-before: always;"/> 	
 	
 	<!--  security violations -->
 	<div th:insert="securityViolationsFragment :: securityViolationsFrag"></div>
 	
 	<div style="page-break-before: always;"/> 	
 	
   	<!--  license violations -->
    <div th:insert="licenseViolationsFragment :: licenseViolationsFrag"></div>
  	
    </div>
  
</body>
</html> 

